* {
    font-family: Helvetica;
    /* font-size: 22px; */
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Navigation Bar */

.header {
    max-height: 69px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.header-menu {
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
    text-decoration: underline;
}

#tea-cozy-logo {
    max-height: 50px;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
}

.banner-text {
    text-align: center;
}

#mission-bkg {
    max-height: 700px;
    max-width: 1200px;
    text-align: center;
}
    
/* Whats Steeping */

.whats-steeping {
    max-width: 1000px;
}

.whats-steeping-text {
    text-align: center;
}

.whats-steeping-cards {
    display: inline-flex;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.whats-steeping img {
    max-height: 200px;
    max-width: 300px;
}

/* Locations */

.locations {
    text-align: center;
}

.locations img {
    max-height: 300px; /* change to 500px */
}

.locations-cards-container {
    display: inline-flex;
    justify-content: center;
    max-width: 1000px
}

.location-card {
    gap: 40px;
    flex-basis: 300px;
}

/* Footer */

.contact {
    text-align: center;
}